# Archivos y carpetas generadas por Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Archivos de usuario y configuración personal
*.sln
*.csproj
*.pidb
*.suo


# Archivos temporales
*.tmp
*.temp
# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios específicos de URP
[Uu]niversal[Rr]ender[Pp]ipeline/
[Uu]nity[Rr]ender[Pp]ipeline/

# Archivos de Asset Store (si es necesario)
Assets/YourAssetStorePackage/Editor/
Assets/YourAssetStorePackage/Documentation/

# Archivos de editor
*.user
*.unityproj
PolygonDarkFantasy